<!DOCTYPE html>
html(lang="en")
    //Head
    include common/_head
    body
        // Internet Explorer fix

        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

        div.header-line
        section#header
            div.header-top
                h1.header-top__name Hello World
            div.header-bottom
    
    //User scripts
    include common/_scripts