<!DOCTYPE html>
html(lang="en")
    //Head
    include common/_head
    body
        // Internet Explorer fix

        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

        div.header-line

        h1 Hello World !
    
    //User scripts
    include common/_scripts