// =================================
// Init
// =================================

@import 'common/init';
@import 'vendor/vendor';

body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
    height: 100%;
	min-width: 320px;	
    position: relative;
	font-size: 100%;
}

.header-line {
    height: 5px;
    background-color: rgb(250, 105, 0);
    margin: 0;
    
}

#header {
    min-height: 997px;
}

.header-top {
    min-height: 466px;
    background-color: rgb(105, 210, 231);
    &__name {
        margin: 0;
    }
}

.header-bottom {
    min-height: 531px;

}